<nav class="navbar navbar-expand-lg bg-body-secondary text-bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">C&E AUTO</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <!-- <a class="nav-link active" aria-current="page" href="/">Buy</a> -->
          <a
            class="nav-link active"
            aria-current="page"
            href="/"
            routerLinkActive="active"
            >Masini pe stoc</a
          >
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="/">Rent</a> -->
          <a class="nav-link" href="/rent-property" routerLinkActive="active"
            >Masini pe comanda</a
          >
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="/add-property">List Property (Free)</a> -->
          <a class="nav-link" href="/add-property" routerLinkActive="active"
            >Formular cautare masina</a
          >
        </li>
      </ul>

      <div>
        <ul class="nav navbar-nav">
          <li *ngIf="!loggedIn()" class="nav-item">
            <a class="nav-link" href="user-register/" routerLinkactive="active">
              Register
            </a>
          </li>
          <li *ngIf="!loggedIn()" class="nav-item">
            <a class="nav-link" href="user-login/" routerLinkactive="active">
              Login
            </a>
          </li>
          <!-- <li *ngIf="loggedIn()" class="nav-item">
            <a class="nav-link" (click)="onLogout()"> Logout </a>
          </li> -->
          <div
            *ngIf="!loggedIn()"
            class="dropdown mr-5 custom-dropdown"
            dropdown
          >
            <a
              href="#"
              class="dropdown-toggle text-dark"
              dropdownToggle
              (click)="(false)"
            >
              Welcome {{ loggedInUser }}
            </a>
            <div class="dropdown-menu" *dropdownMenu>
              <a href="#" class="dropdown-item">
                <i class="fas fa-tachometer-alt"></i> View Dashboard</a
              >
              <a href="#" class="dropdown-item">
                <i class="far fa-user-circle"></i> My Profile</a
              >
              <a href="#" class="dropdown-item">
                <i class="fas fa-key"></i> Change Password</a
              >
              <a (click)="onLogout()" class="dropdown-item">
                <i class="fas fa-sign-out-alt"></i> Logout</a
              >
            </div>
          </div>
        </ul>
      </div>

      <!-- <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
