/* You can add global styles to this file, and also import other style files */
@import 'assets/forms.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
/* src/styles.css or src/styles.scss */
body {
  background: linear-gradient(90deg, #f3faf8, #f3faf8); /* Gray gradient background */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;  /* Centrare orizontală */
  align-items: center;      /* Centrare verticală */
  flex-direction: column;   /* Plasare pe verticală a elementelor */
}
