<div class="container">
  <div class="photo-container">
    <!-- <div class="scroll-icon" (click)="scrollToSteps()">
      <div class="mouse">
        <div class="wheel"></div>
      </div>
    </div> -->
    <img
      class="page-header-bg-image"
      src="assets/images/home-background1.png"
    />
    <div class="title">
      <h1>C&E Auto</h1>
    </div>
    <div class="header-text">
      <h1>Your dream car, our expert guidance!</h1>
    </div>
  </div>
  <div class="icons-section">
    <div class="column">
      <img src="assets/images/checklist.png" alt="Steering Wheel" />
      <p>
        Ne folosim de cunostiintele noastre si gasim masina perfecta pentru tine
      </p>
    </div>
    <div class="column">
      <img src="assets/images/hands.png" alt="Checklist" />
      <p>
        Verificam masini si in afara stocului nostru si le intocmim raportul.
      </p>
    </div>
    <div class="column">
      <img src="assets/images/insurance.png" alt="Car Security" />
      <p>Masinile de la noi sunt sigure si fara probleme.</p>
    </div>
  </div>
  <div class="consulting-section">
    <div class="h2-text">
      <h2>Consultanță</h2>
    </div>
    <div class="consulting-content">
      <div class="consulting-text">
        <p>
          Procesul de achiziție al unei mașini rulate poate fi complicat și
          riscant. Din acest motiv, prin intermediul serviciilor noastre de
          consultanță, îți oferim cele mai bune sfaturi, pornind de la
          identificarea automobilului potrivit în funcție de criteriile tale,
          până la alegerea soluțiilor optime de finanțare.
        </p>
        <p>
          Echipa noastră, formată din personal cu experiență și expertiză în
          domeniul auto de peste 20 de ani, îți oferă toate informațiile
          necesare aferente procesului de achiziție, astfel încât să poți lua
          decizia corectă în cunoștință de cauză, pentru a preveni orice risc
          sau alte costuri aferente.
        </p>
        <p>Suntem aici pentru tine.</p>
        <button class="contact-button" (click)="refToContactForm()">
          CONTACTEAZĂ-NE
        </button>
      </div>
      <div class="consulting-image">
        <div style="display: flex; flex-direction: column; align-items: center">
          <img src="assets/images/consultant_emi.jpg" alt="Consulting" />
          <p class="consultant-name">Emi Capraru</p>
        </div>
      </div>
    </div>
  </div>

  <div class="youtube-section">
    <div class="video-container">
      <div class="video">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/JbDw7DaRnY4?start=1304"
          frameborder="0"
          allowfullscreen
        ></iframe>
        <h3>Review BMW 530e xDrive - Ai o priză liberă? | Test in Romana</h3>
        <p>Review BMW 530e xDrive, Masina geniala</p>
      </div>
      <div class="video">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/5kn4vChWdIA?start=2821"
          frameborder="0"
          allowfullscreen
        ></iframe>
        <h3>
          De ce e ATÂT DE LĂUDATĂ mașina asta? De ce o cumpără TOATĂ LUMEA?
          Porsche 911 TURBO S de 300.000 EUR
        </h3>
        <p>Porsche 911 TURBO S</p>
      </div>
    </div>
  </div>
</div>
